body {
  font-family: 'Roboto', sans-serif;
}

header, main, section, footer {
  float: left;
  width: 100%;
}

header {
  background-color: #369;
}

.content,
.aside,
.between {
  float: left;
}

.content {
  width: 70%;
}

.aside,
.between {
  width: 30%;
}

.between + .content{
  width: 40%;
}

footer {
  background-color: #c96;
  height: 500px;
}

[data-float-config] {
  padding: 1em 0;
}

.fop-ready {
  background-color: lightskyblue;
}

.fop-afloat {
  background-color: rebeccapurple;
}

.fop-pinned {
  background-color: mediumturquoise;
}
